version: '3.8'

services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse_server
    ports:
      - "8123:8123"  # HTTP interface
      - "9000:9000"  # Native protocol
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./sql:/docker-entrypoint-initdb.d
    environment:
      CLICKHOUSE_DB: scoring
      CLICKHOUSE_USER: app
      CLICKHOUSE_PASSWORD: app

    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: php_fpm
    volumes:
      - .:/workspace
    working_dir: /workspace
    environment:
      CLICKHOUSE_URL: ${CLICKHOUSE_URL:-http://clickhouse:8123}
      CLICKHOUSE_DB: ${CLICKHOUSE_DB:-scoring}
      CLICKHOUSE_USER: ${CLICKHOUSE_USER:-app}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD:-app}

  nginx:
    image: nginx:alpine
    container_name: nginx_server
    ports:
      - "8080:80"
    volumes:
      - .:/workspace
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  generator:
    build:
      context: ./docker/go
      dockerfile: Dockerfile
    container_name: ch_generator
    depends_on:
      clickhouse:
        condition: service_healthy

volumes:
  clickhouse_data:
